%p#notice= notice

%p
  %b Characteristic Type:
  = @characteristic.content
  %br
  %b Associated Actions:
  %ol
    - for action in @characteristic.actions
      %li #{action.content}
  

= link_to 'Edit', edit_characteristic_path(@characteristic)
\|
= link_to 'Back', characteristics_path
